@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: skyblue;
    font-family: "Red Hat Display" , sans-serif;
    font-size: 16px;
}
.flex{
    display: flex;
}
.annual{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    border: 1px solid #fff;
    background-color: #fff;
    width: 25%;
    height: 70%;
    border-radius: 20px;
}

.foto {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.heading {
    padding: 10px 0;
}
.paragraph {
    line-height: 25px;
    padding: 0 10px;
}
.text {
    padding: 10px 15px;
    margin:  0 auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
}
.annualPlan{
    gap: 10px;
}
.number{
    color: hsl(224, 23%, 55%);
}
.changeBtn {
    font-weight: 700;
    border: none;
    background-color: transparent;
    transition: .3s ease all;
}
.changeBtn:hover {
    color:hsl(224, 78%, 81%);
}
.buttons {
    padding: 10px 0;
    gap: 5px;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.btn{
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    transition: .3s ease all;
}
.btn:hover{
    color: #fff;
    background-color: hsl(245, 99%, 71%);
}
